<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    
    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first blog</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laudantium distinctio totam ab quos necessitatibus nulla nihil laborum sit atque, doloremque natus tenetur tempore suscipit dicta quis iusto eligendi expedita!</p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second blog</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus veritatis porro quisquam atque nobis cupiditate cumque delectus, eius, itaque officiis error ratione dignissimos eligendi. Doloremque, architecto? Ipsam aut veniam eos.</p>
    </div>

</body>
</html>